Data-Ingest.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "Input",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "abb91331-78f6-94ff-4849-3d43285c26f1",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@contains(item().name,'2')",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "DelimitedTextSource",
                        "formatSettings": {
                          "type": "DelimitedTextReadSettings"
                        },
                        "storeSettings": {
                          "type": "LakehouseReadSettings",
                          "recursive": true,
                          "enablePartitionDiscovery": false
                        },
                        "datasetSettings": {
                          "type": "DelimitedText",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "fileName": {
                                "value": "@item().name",
                                "type": "Expression"
                              }
                            },
                            "columnDelimiter": ",",
                            "quoteChar": "\"",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Input",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "abb91331-78f6-94ff-4849-3d43285c26f1",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Files"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "DelimitedTextSink",
                        "formatSettings": {
                          "type": "DelimitedTextWriteSettings",
                          "quoteAllText": true,
                          "fileExtension": ".txt"
                        },
                        "storeSettings": {
                          "type": "LakehouseWriteSettings"
                        },
                        "datasetSettings": {
                          "type": "DelimitedText",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "folderPath": "subfolder",
                              "fileName": {
                                "value": "@concat(item().name,'_output')",
                                "type": "Expression"
                              }
                            },
                            "columnDelimiter": ",",
                            "quoteChar": "\"",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Output",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "cc1dd56b-9efe-9d9e-4689-e971eb4b4949",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Files"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Copy data1",
                    "dependsOn": []
                  }
                ],
                "ifFalseActivities": [
                  {
                    "type": "Copy",
                    "typeProperties": {
                      "source": {
                        "type": "DelimitedTextSource",
                        "formatSettings": {
                          "type": "DelimitedTextReadSettings"
                        },
                        "storeSettings": {
                          "type": "LakehouseReadSettings",
                          "recursive": true,
                          "enablePartitionDiscovery": false
                        },
                        "datasetSettings": {
                          "type": "DelimitedText",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "fileName": {
                                "value": "@item().name",
                                "type": "Expression"
                              }
                            },
                            "columnDelimiter": ",",
                            "quoteChar": "\"",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Input",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "abb91331-78f6-94ff-4849-3d43285c26f1",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Files"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "sink": {
                        "type": "DelimitedTextSink",
                        "formatSettings": {
                          "type": "DelimitedTextWriteSettings",
                          "quoteAllText": true,
                          "fileExtension": ".txt"
                        },
                        "storeSettings": {
                          "type": "LakehouseWriteSettings"
                        },
                        "datasetSettings": {
                          "type": "DelimitedText",
                          "typeProperties": {
                            "location": {
                              "type": "LakehouseLocation",
                              "fileName": {
                                "value": "@concat(item().name,'_output')",
                                "type": "Expression"
                              }
                            },
                            "columnDelimiter": ",",
                            "quoteChar": "\"",
                            "escapeChar": "\\",
                            "firstRowAsHeader": true
                          },
                          "schema": [],
                          "linkedService": {
                            "name": "Output",
                            "properties": {
                              "type": "Lakehouse",
                              "typeProperties": {
                                "artifactId": "cc1dd56b-9efe-9d9e-4689-e971eb4b4949",
                                "workspaceId": "00000000-0000-0000-0000-000000000000",
                                "rootFolder": "Files"
                              },
                              "annotations": []
                            }
                          },
                          "annotations": []
                        }
                      },
                      "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                          "allowDataTruncation": true,
                          "treatBooleanAsNumber": false
                        }
                      },
                      "enableStaging": false
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Copy data2",
                    "dependsOn": []
                  }
                ]
              },
              "name": "If Condition1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}